
<div class="container">
 
	  <h3>Verificar a previsão nunca foi tão fácil, escolha o seu local e busque</h3>		
	  <hr style="background: #bebebe; margin: 10px 0;">

					<article class="blog-article">													 
									  
									  <form>
										<label for="select-choice-mini" class="select">Selecionar País</label>	
										<div class="ui-select ui-btn-inline ui-mini">
										  <div class="ui-btn ui-icon-carat-d ui-btn-icon-right ui-corner-all ui-shadow" id="select-choice-mini-button">
											<span id="countrySpan">País</span>	
											<select class="form-control input-lg" ng-model="countryIDandName" ng-change="getStates()" required>
												<option value="">País</option>
												<option ng-repeat="country in countries" value="{{country.geonameId+'|'+country.name}}">{{country.name}}</option>     
											</select>
										  </div>
										</div>										
										<br/>										
										<label for="select-choice-mini" class="select">Selecionar Estado</label>	
										<div class="ui-select ui-btn-inline ui-mini">
										 <div class="ui-btn ui-icon-carat-d ui-btn-icon-right ui-corner-all ui-shadow" id="select-choice-mini-button">
											<span id="stateSpan">Estado</span>	
											<select class="form-control input-lg" ng-model="stateName" ng-change="updateFinalAddress()" required>
												<option value="">Estado</option>
												<option ng-repeat="state in states" value="{{state.name}}">{{state.name}}</option>     
											</select>
										  </div>
										</div>										  
										<p style="padding-left: 5px;">Digite o Nome da Rua (opcional)</p>										
										<div class="col-md-12 col-sm-12 col-xs-12 form-group" style="padding-left: 5px;" id="contact-name">											
											<input type="text" name="text-basic" id="text-basic" value="" class="form-control name-contact" placeholder="Nome da Rua" ng-model="streetName" />
										</div> 
										<br />									
										<div class="col-md-12 col-sm-12 col-xs-12 form-group" style="margin-bottom: 0;">
											<button type="submit" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all ui-mini" style="margin-left: 40%;" ng-click="getWeather()">Ver previsão</button>
										</div>
									  </form>
					</article>	
									
                                    
					<div id="weatherField" >									  
									  
									  <center style="margin-left:5px;margin-top:15px;"  ng-show="weatherReady">
										<img src="{{weather_forecast_image}}" alt="Weather - All In Your Hands"  ng-show="weatherReady" />
										<h3>     &nbsp; {{ (weather.temperature - 273) + 'C° /' + (weather.temperature - 241) + 'F°' }} </h3>
										<p>Max.  &nbsp; {{ (weather.temp__max - 273) + 'C° /' + (weather.temp__max - 241) + 'F°' }} </p>
										<p>Min.  &nbsp; {{ (weather.temp__min - 273) + 'C° /' + (weather.temp__min - 241) + 'F°' }} </p>
										<br/>
										<p>{{weather.weatherDescription}}</p>
										<br/>
										<a ng-click="getWeatherForecast()" style="cursor:pointer;">Ver a previsão para os próximos 6 dias</a>
									  </center>
									  <center ng-show="weatherError">
										  <h3>Infelizmente, ocorreu um erro na previsão do tempo! Por favor, tente novamente em alguns minutos</h3>
									  </center>
					</div>
			
	</div>